/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 00; 
}
 
body {
    font-family: 'Roboto', sans-serif;
}
 
.container {
    width: 80%;
    margin: 0 auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.float-left {
    float: left;
}
 
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-font {
    font-size: 15px;
    color: grey;
    letter-spacing: 1px;
}
 
.list-inline {
    list-style: none;
}
 
.list-inline > li {
    display: inline-block;
    padding: 0 10px;
}
 
.list-inline a:not(.btn) {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}
 
.list-inline a:not(.btn):hover {
    color: #7cbb02;
}
 
.w-50 {
    width: 49.70%;
}

.w-33 {
    width: 33%;
}

.green {
    color: #7cbb02;
}
 
/* pulsanti */
.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-lg {
    padding: 20px;
}                                              
 
.btn-blue {
    background-color: #2A4F75;
    border: 1px solid white;
}
 
.btn-blue:hover {
    background-color: white;
    color: #2A4F75;
    background-color: 1px solid #2A4F75;
}

.btn-green {
    background-color: #7cbb02;
    border: 1px solid #7cbb02;
}

.btn-green:hover {
    background-color: white;
    color: #7cbb02;
    border: 1 px solid #7cbb02;
}

/* header */
header {
    height: 550px;
    background-color: #2A4F75; 
    background-image: url('../img/background-header.png');
    background-position: 112% 106%;
    background-size: 65% auto;
    background-repeat: no-repeat;
}
 
.header-nav {
    height: 80px;
    line-height: 80px;
}
 
.header-logo {
    width: 15%;
    height: 100%;
}
 
.header-logo img {
    vertical-align: middle;
}
 
.nav-left {
    width: 45%;
    height: 100%;
    text-align: left;
}
 
.nav-right {
    width: 40%;
    height: 100%;
    text-align: right;
}
 
.jumbotron {
    position: relative;
    height: 470px;
}
 
.jumbotron-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
 
h1 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/* main */
.main-title {
    position: relative;
    height: 200px;
    background-color: #D3D3D3;
}

.main-title h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.main-title h3 {
    text-align: center;
}

.first-section {
    height: 400px;
}

 
.info {
    position: relative;
    display: inline-block;
    height: 400px;
}
    
    
.info.w-33 {
    padding: 0 20px;
}
    
.first-section-cont {
    position: absolute;
    top: 5%;
}
    
hr {
    width: 95%;
    margin: 2% 2.5%;
    height: 1px;
    border-width: 0;
    color: #D3D3D3;
    background-color: #D3D3D3;
}
    
.info hr {
    width: 26%;
    margin: 20px 37% 20px 37%;
    height: 1px;
    border-width:0;
    color:grey;
    background-color:grey
}
    
.first-section img {
    width: 100%;
    height: 150px;
}
    
.first-section h3:not(.second-section h3) {
    padding: 0 10px;
    margin: 15px 0;
    text-align: center;
    font-size: 26px;
    color: #7cbb02;
}
    
.first-section p {
    padding: 0 10px;
    text-align: center;
}
    
/* second section */
.second-section {
    height: 400px;
    margin-bottom: 5%;
}

.second-section img {
    width: 90%;
    height: 90%;
}

.second-section-cont {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 60%;
}

.second-section-cont h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.second-section-cont p {
    margin-bottom: 20px;
    text-align: left;
    padding: 0;
}

.second-section-cont a {
    color: #4169E1;
}

/* candidature */
.candidature {
    position: relative;
    height: 150px;
    line-height: 150px;
    background-color: #D3D3D3;
}

.candidature h3 {
    display: inline-block;
    font-size: 26px;
}

.footer-nav {
    display: inline-block;
    text-align: right;
}

.footer-nav li {
    display: inline-block;
}

.select {
    display: inline-block;
    width: 125px;
    line-height: 20px;
    border-bottom: 2px solid grey;

}

.triangle {
    padding-left: 25px;
}

/* select {
    padding-right: 50px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid grey;
    color: grey;
    background-color: #D3D3D3;
} */

/* help button */
.fixed {
    position: fixed;
    right: 15%;
    top: 95vh;
    z-index: 999;
}

/* inizio third-section */
.third-section {
    position: relative;
    height: 400px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.01);
    /* background-color: red; */
}

.third-section-cont {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 75px 220px 0 30px;
}

.third-section img {
    width: 90%;
    height: 90%;
}

.third-section h3 {
    font-size: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}

.third-section p {
    margin: 20px 0;
}


.skyblue-text {
    display: inline-block;
    width: 190px;
    text-align: center;
    font-size: 14px;
    color: skyblue;
}

.fourth-section {
    position: relative;
    height: 500px;
    text-align: center;
}

.sect4-sizes {
    width: 50%;
    margin: 15px 25%;
}

#set {
    margin: 75px 25% 15px 25%;
    width: 50%;
    height: 40%;
}

#sect4-h3 {
    width: 50%;
    margin: 0px 25%;
    text-align: center;
}

.small-text {
    font-size: 12px;
    color: grey;
}

/* inizio know-how */
.know-how {
    height: 300px;
    background-color: #2A4F75;
}

.kh-container {
    width: 20%;
    margin-left: 20%;
    padding-top: 50px;
}

.kh-container h3 {
    font-size: 22px;
    color: white;
}

.kh-container p {
    margin: 25px 0;
}

/* inizio fifth-section */
.fifth-section {
    width: 60%;
    height: 450px;
    margin: 0 auto;
    padding-top: 40px;
}

.sec5-cont {
    float: left;
    height: 350px;
    padding: 40px 15px 0 15px;
}

.title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 33px;
}

.student {
    width: 22%;
    height: 20%;
}

.sec5-cont h4 {
    margin: 30px 0;
}

.sec5-cont p {
    padding-bottom: 20px;
}

.sec5-cont a {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.bc-skyblue {
    border-top: 5px solid skyblue;
    color: skyblue;
}

.bc-orange {
    border-top: 5px solid orange;
    color: orange;
}

.bc-green {
    border-top: 5px solid #7cbb02;
    color: #7cbb02;
}

/* inizio faq */
.faq {
    height: 150px;
    background-color: #174069;
}

.faq-cont {
    width: 30%;
    height: 100%;
    margin-left: 17%;
}

.faq-cont h3 {
    padding-top: 45px;
    padding-bottom: 15px;
    font-size: 22px;
    color: white;
    letter-spacing: 2px;
}

.faq-cont > h3 > span {
    color: orange;
}

/* inizio footer */
footer {
    height: 300px;
    background-color: #2A4F75;
}

.list {
    display: inline-block;
    list-style: none;
    width: 30%;
    padding: 55px 100px 0 ;
}

#azienda {
    font-size: 16px;
    color: white;
    padding: 15px 0;
}

.list li {
    padding: 5px 0;
}

#float-right {
    float: right;
    text-align: right;
    width: 50%;
    padding: 70px 100px;
}

#float-right h3,#float-right h4 {
    font-size: 16px;
    color: white; 
}

#float-right h3 {
    text-transform: uppercase;
}

#float-right h4 {
    margin: 40px 0;
}

#float-right ul {
    list-style: none;
    font-size: 12px;
}






